{% extends 'base.html' %}
{% block style %}
    <style>
        .red {
            background-color: red;
        }
    </style>
{% endblock %}
{% block content %}
    <main role="main" class="mt-3 flex-shrink-0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>{{ pagename }}</h1>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}