{% extends 'base.html' %}
{% block content %}
    <main role="main" class="mt-3 flex-shrink-0">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1>{{ pagename }}</h1>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p>{{ page_description }}</p>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-10 offset-2">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">name</th>
                            <th scope="col">language</th>
                            <th scope="col">code</th>
                            <th scope="col">date</th>
                            <th scope="col">user</th>
                            <th scope="col">public</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for snippet in snippets %}
                            <tr>
                                <td>{{ snippet.id }}</td>
                                <td>
                                    <a href="{% url 'snippet'  snippet.id %}"> {{ snippet.name }}</a>
                                    {% if request.user.is_authenticated %}
                                        <a href="/snippets/delete/{{ snippet.id }}/">
                                            <i style="color: red" class="fas fa-trash-alt"></i>
                                        </a>
                                        <a href="/snippets/edit/{{ snippet.id }}/"> <i class="fas fa-edit"></i></a>
                                    {% endif %}
                                </td>
                                <td>{{ snippet.lang }}</td>
                                <td>{{ snippet.code }}</td>
                                <td>{{ snippet.creation_date }}</td>
                                <td>{{ snippet.user.username | default:'Unknown' }}</td>
                                <td style="text-align: center">
                                    {% if snippet.public %}
                                        <i style="color: aquamarine" class="fas fa-unlock-alt"></i>
                                    {% else %}
                                        <i style="color: darkred" class="fas fa-lock-alt"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}